<table class="table user-info">
	<thead>
		<tr>
			<th class="row">
				<div class="col-xs-5">
					<%= link_to user_path(user) do %>
						<%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_user.jpeg", size:'70x70', class: 'user-image' %>
					<% end %>
				</div>
				<div class="col-xs-7 --right">
					<%= user.nickname %><br>
					<% if user.id == current_user.id %>
						<%= link_to '', edit_user_path(user), class: 'fas fa-user-edit' %>
					<% else %>
						<div id="relation-<%= user.id %>">
							<%= render 'relationships/relation', user:user %>
						</div>
					<% end %>
				</div>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>投稿 <%= user.posts.count %> 件</td>
		</tr>
		<tr>
			<td>フォロー
				<%= link_to user_follow_path(user.id) do %>
					<%= user.follows.count %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td>フォロワー
				<%= link_to user_follower_path(user.id) do %>
					<%= user.followers.count %>
				<% end %>
			</td>
		</tr>
	</tbody>
</table>

