<div class="row user-edit">
  <div class="col-xs-6 col-xs-offset-4">
    <%= form_for(@user) do |f| %>
    <%= render "devise/shared/error_messages", resource: @user %>

      <div class="field">
        <span class="need">※</span>
        <%= f.label :name, 'お名前' %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
      </div>

      <div class="field">
        <span class="need">※</span>
        <%= f.label :name_kana, 'お名前 (フリガナ)' %><br />
        <%= f.text_field :name_kana, autofocus: true, autocomplete: "name_kana", class: "form-control" %>
      </div>

      <div class="field">
        <span class="need">※</span>
        <%= f.label :nickname, 'ニックネーム' %><br />
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "form-control" %>
      </div>

      <div class="field row">
        <%= f.label :profile_image_id, 'プロフィール画像' %><br />
        <%= f.attachment_field :profile_image, autofocus: true, autocomplete: "profile_image_id" %>
      </div>

      <div class="field">
        <%= f.label :introduction, '自己紹介 (50文字以内)' %><br />
        <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :one_word, '一言メッセージ (20文字以内)' %><br />
        <%= f.text_field :one_word, autofocus: true, autocomplete: "one_word", class: "form-control" %>
      </div>

      <div class="field">
        <span class="need">※</span>
        <%= f.label :email, 'メールアドレス' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="actions field">
        <%= f.submit "変更する", class: "btn btn-success form-control" %>
      </div>
      <div class="actions field">
        <%= link_to "パスワードの変更はこちら", user_password_edit_path(@user),class: "btn btn-primary form-control" %>
      </div>
      <div class="actions field">
        <%= link_to "退会される方はこちら", user_status_path(@user),class: "btn btn-danger form-control" %>
      </div>
    <% end %>
  </div>
</div>