<div class="row password">
	<h2 class="col-xs-6 col-xs-offset-3">パスワード再設定</h2>
  <%= form_for(@user, url:user_password_edit_path) do |f| %>
    <div class="field col-xs-6 col-xs-offset-3">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, autocomplete: "new-password", min: 6, class: "form-control"  %>
    </div>

    <div class="field col-xs-6 col-xs-offset-3">
      <%= f.label :password_confirmation, "パスワード(確認用)" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password",min: 6, class: "form-control" %>
    </div>

    <div class="field col-xs-6 col-xs-offset-3">
      <%= f.submit "変更する",class: "btn btn-primary form-control" %>
    </div>
  <% end %>
</div>