<h2 class="color">会員詳細</h2>
<div class="row flex">
	<span class="col-xs-2 name">ユーザーID</span>
	<span class="col-xs-10"><%= @user.id %></span>
</div>
<div class="row flex">
	<span class="col-xs-2 name">氏名</span>
	<span class="col-xs-10">
		<%= @user.name %>
	</span>
</div>
<div class="row flex">
	<span class="col-xs-2 name">フリガナ</span>
	<span class="col-xs-10">
		<%= @user.name_kana %>
	</span>
</div>
<div class="row flex">
	<span class="col-xs-2 name">投稿件数</span>
	<span class="col-xs-10">
		<%= @user.posts.count %>件
	</span>
</div>
<div class="row flex">
	<span class="col-xs-2 name">ひとこと</span>
	<span class="col-xs-10">
		<%= @user.one_word %>
	</span>
</div>
<div class="row flex">
	<span class="col-xs-2 name">自己紹介</span>
	<span class="col-xs-10">
		<%= @user.introduction %>
	</span>
</div>
<div class="row flex">
	<span class="col-xs-2 name">メールアドレス</span>
	<span class="col-xs-10">
		<%= @user.email %>
	</span>
</div>
