<div class="row admin-show">
	<div class="col-xs-9 col-xs-offset-3">
		<h2 class="heading">会員詳細</h2>
		<div class="row">
			<span class="col-xs-5 name">ユーザーID</span>
			<span class="col-xs-7"><%= @user.id %></span>
		</div>
		<div class="row">
			<span class="col-xs-5 name">会員状況</span>
			<% if @user.come_out == true %>
				<span class="status">退会済み</span>
			<% else %>
				<span class="status">会員</span>
			<% end %>
		</div>
		<div class="row">
			<span class="col-xs-5 name">氏名</span>
			<span class="col-xs-7">
				<%= @user.name %>
			</span>
		</div>
		<div class="row">
			<span class="col-xs-5 name">フリガナ</span>
			<span class="col-xs-7">
				<%= @user.name_kana %>
			</span>
		</div>
		<div class="row">
			<span class="col-xs-5 name">投稿件数</span>
			<span class="col-xs-7">
				<%= @user.posts.count %>件
			</span>
		</div>
		<div class="row">
			<span class="col-xs-5 name">ひとこと</span>
			<span class="col-xs-7">
				<%= @user.one_word %>
			</span>
		</div>
		<div class="row">
			<span class="col-xs-5 name">自己紹介</span>
			<span class="col-xs-7">
				<%= @user.introduction %>
			</span>
		</div>
		<div class="row">
			<span class="col-xs-5 name">メールアドレス</span>
			<span class="col-xs-7">
				<%= @user.email %>
			</span>
		</div>
		<%= link_to '変更する', edit_admins_user_path(@user), class: 'fas fa-user-edit btn btn-success' %>
	</div>
</div>

