<div class="top-image">
	<span class="--title">Welcome to<br>Chill out!</span>
</div>


<!-- 目次 -->
<div class="explanation">
	<div class="row">
		<span class="--text">会員登録をすると…</span>
	</div>

	<div class="row">
		<div class="col-xs-2 col-xs-offset-1">
			<div class="items">
				<a href="#post" class="__link move"><span class="-black">#</span>Post<br>投稿</a>
			</div>
		</div>
		<div class="col-xs-2">
			<div class="items">
				<a href="#favorite" class="__link move"><span class="-black">#</span>Favorite<br>お気に入り</a>
			</div>
		</div>
		<div class="col-xs-2">
			<div class="items">
				<a href="#good" class="__link move"><span class="-black">#</span>Good<br>いいね</a>
			</div>
		</div>
		<div class="col-xs-2">
			<div class="items">
				<a href="#comment" class="__link move"><span class="-black">#</span>Comment<br>コメント</a>
			</div>
		</div>
		<div class="col-xs-2">
			<div class="items">
				<a href="#follow" class="__link move"><span class="-black">#</span>Follow<br>フォロー</a>
			</div>
		</div>
	</div>
</div>

<div class="item" id="post">
	<div class="col-xs-6">
		<h2 class="--title">Post</h2>
		<p class="--article">音楽、ファッション、インテリア、料理、ヨガ、DIYなど<br>
			様々な自分ならではのこだわりを投稿してみましょう！
		</p>
	</div>
	<div class="col-xs-6">
		<i class="fas fa-camera-retro"></i>
	</div>
</div>

<div class="item" id="favorite">
	<div class="col-xs-6">
		<i class="fas fa-star"></i>
	</div>
	<div class="col-xs-6">
		<h2 class="--title">Favorite</h2>
		<p class="--article">自分の投稿をお気に入りにしてみましょう！<br>
			お気に入りした投稿写真はまとめてスライドショーにできます
		</p>
	</div>
</div>

<div class="item" id="good">
	<div class="col-xs-6">
		<h2 class="--title">Good</h2>
		<p class="--article">興味を持った投稿には『いいね』をしてみましょう！</p>
	</div>
	<div class="col-xs-6">
		<i class="fas fa-heart"></i>
	</div>
</div>

<div class="item" id="comment">
	<div class="col-xs-6">
		<i class="fas fa-comments"></i>
	</div>
	<div class="col-xs-6">
		<h2 class="--title">Comment</h2>
		<p class="--article">気になった投稿にはコメントしてみましょう！</p>
	</div>
</div>

<div class="item" id="follow">
	<div class="col-xs-6">
		<h2 class="--title">Follow</h2>
		<P class="--article">フォローすることでお友達と繋がることができます！</P>
	</div>
	<div class="col-xs-6">
		<i class="fas fa-users"></i>
	</div>
</div>

<div id="inquiry">
	<div class="col-xs-6 col-xs-offset-3">
		<h2 class="--title text-center">Contact <i class="fas fa-envelope"></i></h2>

  <% if @inquiry.errors.any? %>
        <span class="text-danger"><%= @inquiry.errors.count %>件のエラー。</span><br>
        <% @inquiry.errors.full_messages.each do |message| %>
          <span class="text-danger"><%= message %>。</span><br>
        <% end %>
  <% end %>

		<%= form_with(model: @inquiry, local: true) do |f| %>
		  	<div class="form-group">
		    	<%= f.label :name, 'お名前' %>
		    	<%= f.text_field :name, class: '--field' %>
			</div>
		  	<div class="form-group">
		    	<%= f.label :email, 'メールアドレス' %>
		    	<%= f.text_field :email, class: '--field' %>
			</div>
		 	<div class="form-group">
		   		<%= f.label :message, 'お問い合わせ内容' %>
		   		<%= f.text_area :message, size: '10x10', class: 'form-control --area' %>
		 	</div>
		  	<%= f.submit '送信', data: { confirm: "送信しますか?" }, class: 'form-control btn btn-primary' %>
		<% end %>
	</div>
</div>









