<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<% @entries.each do |entry| %>
			<div class="user-name">
				<strong>
					<%= link_to user_path(entry.user.id) do %>
						<%= attachment_image_tag entry.user, :profile_image, format: 'jpeg', fallback: "no_user.jpeg", size:'70x70', class: 'user-image' %>
						<%= entry.user.nickname %>さん
					<% end %>
				</strong>
			</div>
		<% end %>

		<!-- メッセージ一覧 -->
		<div class="chat">
			<% if @messages.present? %>
				<% @messages.each do |message| %>
					<div class="chat-box">
						<div class="chat"> <strong><%= message.message %></strong> <br>
							<%= message.created_at.strftime("%Y-%m-%d %H:%M")%>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>

		<!-- メッセージフォーム -->
		<div class="posts">
			<%= form_for @message do |f| %>
				<%= f.text_field :message, placeholder: "メッセージを入力して下さい", size: 70, class:"form-control" %>
				<%= f.hidden_field :room_id, value: @room.id %>
				<%= f.submit "投稿",class: 'form-submit'%>
			<% end %>
		</div>
	</div>
</div>

