<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<% @entries.each do |entry| %>
			<% if entry.user.id == current_user.id %>
				<span class="user-name pull-right">
					<%= link_to user_path(entry.user.id) do %>
						<%= entry.user.nickname %>
						<%= attachment_image_tag entry.user, :profile_image, format: 'jpeg', fallback: "no_user.jpeg", size:'70x70', class: 'user-image' %>
					<% end %>
				</span>
			<% else %>
				<span class="user-name pull-left">
					<%= link_to user_path(entry.user.id) do %>
						<%= attachment_image_tag entry.user, :profile_image, format: 'jpeg', fallback: "no_user.jpeg", size:'70x70', class: 'user-image' %>
						<%= entry.user.nickname %>さん
					<% end %>
				</span>
			<% end %>
		<% end %>

		<!-- メッセージ一覧 -->
		<div class="chat-box">
			<% if @messages.present? %>
				<% @messages.each do |message| %>
					<% if message.user_id == current_user.id %>
						<div class="chat text-right"><%= message.created_at.strftime("%m/%d %H:%M")%><br>
							<strong class="message"><%= message.message %></strong>
						</div>
					<% else %>
						<div class="chat text-left"><%= message.created_at.strftime("%m/%d %H:%M")%><br>
							<strong class="message"><%= message.message %></strong>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</div>

		<!-- メッセージフォーム -->
		<div class="message-form">
			<%= form_for @message do |f| %>
				<%= f.text_field :message, placeholder: "メッセージを入力して下さい", size: 70, class: "form-control" %>
				<%= f.hidden_field :room_id, value: @room.id %>
				<%= f.submit "投稿",class: 'form-control btn btn-primary'%>
			<% end %>
		</div>
	</div>
</div>

