<div class="posts">
	<% posts.each do |post| %>
		<%= link_to post_path(post), class: 'post' do %>
			<h3>
				<span>
					<%= attachment_image_tag post.user, :profile_image, format: 'jpeg', fallback: "no_user.jpeg", size:'50x50', class: 'user-image' %>
				</span>
				<%= post.title %>
			</h3>
			<div class="__images">
				<% if post.images.present? %>
				  <% post.images.first(4).each do |image| %>
				    <%= attachment_image_tag image, :image, :fill, 150, 150, class: '--image' %>
				  <% end %>
				<% else %>
				    <%= image_tag 'no_image.jpeg', size: '250x250', class: 'no_image' %>
				<% end %>
			</div>

			<p><%= post.article %></p>
			<% if post.user_id == current_user.id %>
				<i class="fas fa-star"></i>
				<i class="fas fa-comment"></i>
			<% else %>
				<i class="fas fa-heart"></i>
				<i class="fas fa-comment"></i>
			<% end %>
		<% end %>
	<% end %>
</div>