<div class="posts">
	<% posts.each do |post| %>
	<section class="__post">
		<%= link_to post_path(post), class: '-link' do %>
			<h3>
				<%= attachment_image_tag post.user, :profile_image, format: 'jpeg', fallback: "no_user.jpeg", size:'50x50', class: 'user-image' %>
				<%= post.user.nickname %>
				<%= post.title %>
			</h3>
			<div class="--images">
				<% if post.post_images.present? %>
				  <% post.post_images.first(4).each do |image| %>
				    <%= attachment_image_tag image, :image, :fill, 150, 150, format: "jpg", class: '-image' %>
				  <% end %>
				<% else %>
				    <%= image_tag 'no_image.jpeg', size: '250x250', class: 'no_image' %>
				<% end %>
			</div>
			<p><%= post.article %></p>
		<% end %>

		<% if post.user_id == current_user.id %>
			<%= link_to " #{post.comments.count}", post_path(post.id), class: 'fas fa-comment' %>
			<span id='favorite-<%= post.id %>'>
				
			</span>
		<% else %>
			<span id='like-<%= post.id %>'>
				
			</span>
			<%= link_to " #{post.comments.count}", post_path(post.id), class: 'fas fa-comment' %>
		<% end %>
	</section>
	<% end %>
	<%= paginate posts %>
</div>

