<section  class="auto">
	<div class="row">
		<div class="col-xs-2">
			<!-- 会員情報 -->
			<%= render 'users/user-info', user:current_user %>

			<!-- フォームを開くボタン -->
			<div class="open-form">
				<i class="fas fa-camera-retro __icon" id="post_new"></i>
			</div>
		</div>

		<div class="col-xs-8">
			<!-- 投稿一覧表示 -->
			<%= render 'posts/posts', posts:@posts %>

			<!-- 投稿フォーム -->
			<div class="black-back" id="post_form">
				<div class="new row">
					<i class="fas fa-times" id="close"></i>
					<%= form_with model: @post, html: { class: "col-xs-offset-1" } do |f| %>
						<h2>投稿フォーム</h2>
						<div class="field">
							<h4><span class="need">※</span>タイトル</h4>
							<%= f.text_field :title, placeholder: "20文字以内", class: '__title form-control' %>
						</div>
						<div class="field">
							<h4>写真</h4>
							<%= f.attachment_field :post_images_images, multiple: true,  name: "images_attributes[0][image][]"   %>
						</div>
						<div class="field">
							<h4>タグ</h4>
							<%= f.text_field :tag_list, value: @post.tag_list, placeholder: "複数追加は半角スペースを入れてください", class: '__tag form-control' %>
						</div>
						<div class="field">
							<h4><span class="need">※</span>コメント</h4>
							<%= f.text_area :article, placeholder: "100文字以内", class: '__article form-control' %>
						</div>
						<div class="actions">
							 <%= f.submit '送信', class: 'btn btn-success' %>
						</div>
					<% end %>
				</div>
			</div>
		</div>

		<div class="col-xs-2 tags">
			<!-- 全件タグ表示 -->
			<h3 class="__title">タグ検索</h3>
			<div>
				<% Post.all_tags.each do |tag| %>
					<%= link_to posts_path(tag_name: "#{tag}") do %>
						<span class="badge badge-primary __tag"><%= tag %></span>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</section>

<script src="/assets/post_toggle.js"></script>