<div class="row">
	<div class="col-xs-2">
		<!-- 会員情報 -->
		<%= render 'users/user-info', user:@post.user %>
	</div>

	<!-- 投稿詳細 -->
	<div class="col-xs-8">
		<h3><%= @post.title %></h3>
		<div id="slide-post">
		    <div id="slide">
				<% if @post.post_images.present? %>
				  <% @post.post_images.each do |image| %>
				    <%= attachment_image_tag image, :image, class: '--image' %>
				  <% end %>
				<% else %>
				    <%= image_tag 'no_image.jpeg', class: 'no_image' %>
				<% end %>
		    </div>
		</div>
		<p><%= @post.article %></p>
		<% if @post.user_id == current_user.id %>
			<span id='favorite-<%= @post.id %>'>
				<%= render partial: 'favorites/favorite', locals: { post: @post} %>
			</span>
			<i class="fas fa-comment"></i>
		<% else %>
			<span id='like-<%= @post.id %>'>
				<%= render partial: 'likes/like', locals: { post: @post} %>
			</span>
			<i class="fas fa-comment"></i>
		<% end %>
		<% if @post.user == current_user %>
			<%= link_to "編集", edit_post_path, class: "btn btn-success" %>
			<%= link_to "削除", post_path, method: :delete, class: "btn btn-danger", data: { confirm: "本当に消しますか?" } %>
		<% end %>

		<!-- コメント表示 -->
		<div id="comment-<%= @comment.id %>">
			<%= render partial: 'comments/comment', locals: { post:@post} %>
		</div>
		<!-- コメントフォーム -->
		<div id="comment-form">
			<%= render partial: 'comments/form', locals: { post:@post, comment:@comment} %>
		</div>
	</div>
</div>

<script src="/assets/skippr.min.js"></script>
<script src="/assets/slide.js"></script>


