<div class="row">
	<div class="col-xs-2">
		<!-- 会員情報 -->
		<%= render 'users/user-info', user:@post.user %>
	</div>

	<!-- 投稿詳細 -->
	<div class="col-xs-8">
		<h3><%= @post.title %></h3>
		<div id="slide-post">
		    <div id="slide">
				<% if @post.images.present? %>
				  <% @post.images.each do |image| %>
				    <%= attachment_image_tag image, :image, class: '--image' %>
				  <% end %>
				<% else %>
				    <%= image_tag 'no_image.jpeg', class: 'no_image' %>
				<% end %>
		    </div>
		</div>
		<p><%= @post.article %></p>
		<% if @post.user_id == current_user.id %>
			<i class="fas fa-star"></i>
			<i class="fas fa-comment"></i>
		<% else %>
			<i class="fas fa-heart"></i>
			<i class="fas fa-comment"></i>
		<% end %>
		<% if @post.user == current_user %>
			<%= link_to "編集", edit_post_path, class: "btn btn-success" %>
			<%= link_to "削除", post_path, method: :delete, class: "btn btn-danger", data: { confirm: "本当に消しますか?" } %>
		<% end %>
	</div>
</div>



<script src="/assets/skippr.min.js"></script>
<script src="/assets/slide.js"></script>