<!DOCTYPE html>
<html>
  <head>
    <title>ChillOut</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display:ital,wght@0,500;1,500&family=Vollkorn:ital@1&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b5c34d0b23.js" crossorigin="anonymous"></script>
     <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <header>
      <!-- タイトル -->
      <nav class="header-nav">
        <% if user_signed_in? %>
          <%= link_to 'Chill out', posts_path, class: 'header--title pull-left' %>
        <% elsif admin_signed_in? %>
          <%= link_to 'Chill out', admins_top_path, class: 'header--title pull-left' %>
        <% else %>
          <%= link_to 'Chill out', root_path, class: 'header--title pull-left' %>
        <% end %>

        <!-- 検索機能 -->
        <% if user_signed_in? %>
          <div class="searchs">
            <%= form_tag(search_path, method: :get) do %>
              <%= text_field_tag 'search[content]' %>
              <%= select_tag 'search[model]', options_for_select({ 'ニックネーム' => 'user', '投稿タイトル' => 'post'}) %>
              <%= submit_tag '検索', class: 'btn btn-success' %>
            <% end %>
          </div>
        <% end %>

        <!-- 遷移リンク -->
        <ul class="nav navbar-nav pull-right">
          <% if request.fullpath.include? "admin"%>   <%# urlにadminという文字があった場合下記を実行 %>
            <%= render "layouts/admin_header" %>
          <% else %>
            <%= render "layouts/user_header" %>
          <% end %>
        </ul>
      </nav>
    </header>

    <body>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 flash">
            <% if flash[:notice] %>
              <div class="alert alert-success text-center">
                <%= flash[:notice] %>
              </div>
            <% elsif flash[:update] %>
              <div class="alert alert-info text-center">
                <%= flash[:update] %>
              </div>
            <% elsif flash[:alert] %>
              <div class="alert alert-danger text-center">
                <%= flash[:alert] %>
              </div>
            <% end %>
          </div>
        </div>
        <%= yield %>
      </div>
    </body>

    <footer>
      <span>©Chill out</span>
      <%= link_to '', new_admin_session_path, class: '__admin fas fa-user-cog' %>
    </footer>
  </body>
</html>
