<!DOCTYPE html>
<html>
  <head>
    <title>ChillOut</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display:ital,wght@0,500;1,500&family=Vollkorn:ital@1&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b5c34d0b23.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav>
        <% if user_signed_in? %>
          <%= link_to 'Chill out', posts_path, class: 'header--title' %>
        <% else %>
          <%= link_to 'Chill out', root_path, class: 'header--title' %>
        <% end %>
        <ul class="nav navbar-nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to 'マイページ', user_path(current_user) %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to ' ログイン', new_user_session_path %></li>
            <li><%= link_to ' 新規登録', new_user_registration_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <body>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </body>

    <footer>
      <span>©Chill out</span>
      <%= link_to '', new_admin_session_path, class: '__admin fas fa-user-cog' %>
    </footer>
  </body>
</html>
